<%= render 'profiles/header' %>

<% if @profile %>
<p><%= image_tag @profile.avatar.url(:medium) %></p>
<% end %>

<% if @profile %>
<h3>Introduction: </h3>
<%= simple_format(@profile.introduction.present? ? @profile.introduction : '未登録') %>
<% end %>

<% unless @profile %>
<p> <%= link_to 'Please register your profile!', new_profile_path %> </p>
<% else %>
<p> <%= link_to 'Edit your profile!', edit_profile_path %> </p>
<% end %>
